.open-sidebar{
    width: 1000px;
    height: 1000px;
    background-color: rgba(232, 32, 32, 0.5);
    font-size: large;

    
    .button{
        width: 100px;
        height: 100px;
        font-size: large;
    }


}
/* 
.close-sidebar{
    width: 100px;
    height: 100px;
    background-color: rgba(232, 32, 32, 0.5);
} */

